div.m-form#login_fields
  div
    label 用户名
    input(type="text",class="u-text",name="user_name",id="user_name")
  div
    label 密码
    input(type="password",class="u-text",name="password",id="password")